[Unit]
Description=note-thing Go backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/vhosts/api-note-thing.truvis.co
ExecStart=/var/www/vhosts/api-note-thing.truvis.co/note-thing
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
